@import "../../../styles/variables";

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;

  padding: 1.2rem 0.8rem;

  button {
    color: $white;
    font-weight: 500;
    background-color: $darkGray;
    transition: background-color 300ms;

    &:hover,
    &:focus {
      background-color: #5b5f73;
    }
  }
}

.image-container {
  position: relative;
  margin-top: 3.5rem;
  width: 100%;
  text-align: center;

  .image {
    width: 100%;
    animation: fade 500ms;
  }

  &::before {
    content: "";
    opacity: 0.1;
    width: 100%;
    left: 0;
    top: -5rem;

    height: 376px;
    display: block;
    position: absolute;
    background-image: url("../../../public/images/Cloud-background.png");
    background-position: center;
  }
}

.description {
  height: clamp(20rem, 60vh, 36rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 3rem;

  color: $gray;
  font-size: $lg;

  p {
    margin: 0;
  }

  p,
  svg,
  .location {
    animation: fade 500ms;
  }

  .temperature {
    display: flex;
    align-items: center;
  }

  .location {
    display: flex;
    align-items: center;

    svg {
      margin-right: 0.5rem;
    }
  }
}
