.hightlights {
  display: grid;
  grid-template-columns: repeat(auto-fill, 20.5rem);
  justify-content: center;
  row-gap: 2.5rem;
  column-gap: 3rem;

  p {
    grid-column: 1 / -1;
  }
}

@media screen and (min-width: 1075px) {
  .hightlights {
    grid-template-columns: repeat(2, 20.5rem);
  }
}
