@import "../../../styles/variables";

.white {
  color: $white;
}

.lightGray {
  color: $lightGray;
}

.gray {
  color: $gray;
}

.darkGray {
  color: $darkGray;
}

.darkestGray {
  color: $darkestGray;
}
