// Colors
$primaryPurple: #1e213a;
$secondaryPurple: #100e1d;

$white: #e7e7eb;
$lightGray: #a09fb1;
$gray: #88869d;
$darkGray: #6e707a;
$darkestGray: #616475;

$blue: #3c47e9;

// font-size
$base: 16px;
$lg: 18px;
$xl: 36px;
$xl2: 48px;
$xl3: 64px;
$xl4: 144px;

@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  25% {
    opacity: 0.25;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
