// Colors
$primaryPurple: #1e213a;
$secondaryPurple: #100e1d;

$white: #e7e7eb;
$lightGray: #a09fb1;
$gray: #88869d;
$darkGray: #6e707a;
$darkestGray: #616475;

$blue: #3c47e9;

// font-size
$base: 16px;
$lg: 18px;
$xl: 36px;
$xl2: 48px;
$xl3: 64px;
$xl4: 144px;
